{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
      <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main.css' %}">

</head>
<div class="wrapper-content">
    <h1> About MythosAPI </h1>

    <body>
        <div class="body-para"> I always had a fancination for mythical creatures and deities of different cultures <br>
            so
            for my portfolio
            I created This API! <br> This API was built in Django using the rest framework. I really enjoyed this
            language
            and project. <br>
            If you like this API feel free to follow me on social media for any updates on this and future projects <br>
            And if really like this API feel free to donate - I will add your name to the list of donators on here. <br>
        </div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those
                Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </body>
</div>

{% endblock %}