{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="wrapper-content">
    <h1 class="heading_1"> Welcome </h1>
    <div class="container_body">

        <body> Welcome to the Mythos API. The one place where you can find data on mythical creatures and entities from
            myths, legends and folklore </body>
    </div>

    <section class="section_form">
        <h1 class="heading_2"> Have a creature you would like to add? </h1>
        <h4 class="subheading_1"> write the name of your entity and a brief idea of who they <br>
            I can research them and add them into the database!</h4>
        <form id="form_email" action="/" method="post">
            <div class="form_container">
                {% csrf_token %}
                {{form}}
                <input class="submitEntity_btn" type="submit"></input>
            </div>
        </form>

    </section>
</div>
{% endblock %}